@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: lightgray;
  position: absolute;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
  padding: 34px;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  height: 100vh;
  padding: 35px;
}

.sidebar nav li {
  font-size: 30px;
  list-style: none;
  padding: 33px 0;
}

.main {
  /* background-color: yellow; */
  width: 90vw;
}

.container {
  display: flex;
}

.infoContainer {
  /* background-color: rgb(189, 202, 9); */
  height: 58vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}

.devPic img {
  height: 58vh;
}

.devInfo {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
}

.hello {
  font-size: 3em;
}

.name {
  font-size: 3em;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.about {
  font-size: 2.5em;
}

.moreabout {
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
}

.buttons {
  margin-top: 2.2em;
}

.btn {
  padding: 9px 14px;
  border-radius: 22px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
}

.buttons button:hover {
  color: dodgerblue;
  background-color: white;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.contactform,
.gallery {
  padding: 0 34px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 88px;
}

.contactform h1 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

.gallery h1 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

.contactform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.contactform form {
  margin: 0 40px;
}

.contactform form div input {
  border-radius: 5px;
  margin: 6px 0;
  padding: 3px;
}

#emailHelp {
  font-size: 11px;
  color: midnightblue;
  margin: 0 5px;
  padding: 3px 0 0 0;
}

#form-check {
  flex-direction: row;
}

#form-check input {
  width: 24px;
  margin: 3px 0;
}

.btn btn-primary {
  width: 224px;
}

.btn btn-sm {
  font-size: 17px;
  padding: 10px 19px;
  margin: 12px 0;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 23px;
}

p {
  font-family: "Source Code Pro", monospace;
}

.intro h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 12px;
}

.intro p {
  font-family: "Source Code Pro", monospace;
  margin: 12px;
}

.skillcontainer {
  padding: 12px;
}

.skill {
  width: 265px;
  height: 6px;
  background-color: red;
  border: 2px solid black;
}

.skillItem {
  display: flex;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

.hundred {
  width: 265px;
  background-color: blueviolet;
}

.fifty {
  width: 125px;
  background-color: aqua;
}

.t5 {
  width: 75px;
  background-color: green;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}

.cross {
  margin-left: 185px;
}

.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}

.intro {
  margin: 88px;
}

@media (max-width: 1615px) {
}

.horizontal-list {
  list-style: none;
  padding-left: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
  color: black;
  text-decoration: none;
  font-size: x-large;
}

.horizontal-list li a:hover {
  color: red;
  border-bottom: 1px solid white;
}

.text-center {
  text-align: center;
}

#name-social-container {
  margin-top: 10vh;
}

#my-name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: black;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#icons {
  background-color: yellow;
  margin-right: -250px;
  margin-left: -122px;
  margin-bottom: -100px;
  position: relative;
}

.img-gallery {
  padding: 20px;
  background-color: turquoise;
  border: 2px solid black;
  border-radius: 50px;
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
}

.img-gallery img:hover {
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 7px rgba(68, 77, 136, 0.2);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top:5%;
    right:5%;
    font-size: 30px;
    color:#fff;
    cursor:pointer;
}

#title{
    margin:84px;
    margin-bottom: -52px;
    padding:10px;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-weight: 100;  
}